.header {
  position: relative;
  padding: 20px 0;
  background: rgb(29, 9, 93);
  background: linear-gradient(354deg, rgba(94, 40, 251, 0.76) 0%, rgba(44, 16, 63, 0.75) 100%);
  margin-bottom: 30px;
}

.header__content {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  font-size: 35px;
  text-decoration: none;
  color: #f5d5da;
}
